/*importando os ícones*/
@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #FFFFFF;
}

.cabecalho{
    display: flex;
    justify-content: space-between; /*centraliza os elementos centrais e coloca os elementos da ponta colados a borda*/
    /*justify-content: mexe com os elementos na horizontal*/
    align-items: center; /*mexe com elementos na vertical*/
    background-color: #15191C;
    padding: 8px 16px; /*cima baixa, esquerda direita*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16); /*inserindo sombra*/
}

.cabecalho__logo{
    max-width: 40px;
    max-height: 40px;
}
/*adicionando os ícones no header*/
.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;
}

/*estilizando o menu lateral*/
.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw; /*largura de wiew port*/
    height: 100vh; /*altura do view port*/

/*escondendo o menu para o efeito de sair ao clique*/
    position: absolute;
    left: -100vw;
    transition: 0.65s; /*transição da volta*/
}

.menu-lateral--ativo{
    left: 0; /*volta o menu pra posição original*/
    transition: 0.65s; /*transição da ida*/
}

.menu-lateral__logo{
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;

}

.menu-lateral__link--ativo{
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}
/*colocando os icones por pseudo-elementos*/
.menu-lateral__link--inicio::before{
    content: "\e902";
}

.menu-lateral__link--videos::before{
    content: "\e90e";
}

.menu-lateral__link--picos::before{
    content: "\e909";
}

.menu-lateral__link--integrantes::before{
    content: "\e903";
}

.menu-lateral__link--camisas::before{
    content: "\e900";
}

.menu-lateral__link--pinturas::before{
    content: "\e90a";
}